---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="FF Handyman Services" />
<Navbar />
<Hero client:load />
<main>
  <About />
  <Services />
  <Contact />
</main>
