---

---

<section class="mt-12 border-b pb-8 pb-12">
  <div class="p-8 lg:w-3/4 mx-auto flex flex-col gap-6">
    <h2 class="text-4xl font-['Young_Serif'] text-center lg:text-left">
      Who we are!
    </h2>
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex flex-col gap-8 my-auto">
        <p class="font-sans text-xl leading-relaxed">
          We are a small handyman company with over 20 years of experience. We
          specialize in ensuring that your home is well maintained and that any
          renovation projects you need are done with excellent quality of work
          and attention. We serve the Northern VA, DC, Maryland region, DMV. We
          are here to help whether your project is a small reparation to
          remodeling your basement, we got you covered. Feel free to reach out,
          we will give you a free estimate on your project as soon as possible.
        </p>
        <div class="flex gap-4 font-['Young_Serif'] hidden lg:block">
          <a
            href=""
            class="py-3 px-4 rounded-xl bg-black/80 text-white text-lg"
          >
            Get your Free Estimate today!
          </a>
        </div>
      </div>

      <img
        src="src/assets/kitchen-remodel-2.jpeg"
        alt=""
        width="500"
        class="rounded-xl mx-auto my-auto"
      />
      <div class="flex gap-4 font-['Young_Serif'] lg:hidden mx-auto md:mt-2">
        <a href="" class="py-3 px-4 rounded-xl bg-black/80 text-white text-lg">
          Get your free Estimate today!
        </a>
      </div>
    </div>
  </div>
</section>
