---

---

<div
  class="relative bottom-40 md:bottom-60 lg:bottom-72 flex gap-4 justify-center mt-4 font-['Young_Serif']"
>
  <a
    href="#contact"
    class="py-3 px-4 rounded-xl bg-black/80 text-white text-lg hover:bg-neutral-600 active:bg-neutral-200 active:text-neutral-600"
  >
    Contact Us
  </a>
  <a
    href="#services"
    class="py-3 px-4 rounded-xl bg-black/80 text-white text-lg hover:bg-neutral-600 active:bg-neutral-200 active:text-neutral-600"
  >
    Services
  </a>
</div>
