---
import { Image } from "astro:assets";
import logo from "../assets/logo-black.svg";
---

<header class="flex justify-between px-4 lg:px-8 border-b">
  <a href="/"><Image src={logo} alt="logo" width="80" height="80" /></a>
  <nav class="my-auto">
    <ul class="flex gap-4 lg:text-2xl text-xl font-sans">
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/">Contact</a></li>
    </ul>
  </nav>
</header>
