---
import ImageInstance from "./ImageInstance.astro";

interface ImageData {
  fileName: string;
  alt: string;
}

interface Props {
  workLocation: string;
  images: ImageData[];
}

const { workLocation, images } = Astro.props;
---

<div class="px-6 mx-auto">
  <h1 class="py-8 font-sans text-4xl">{workLocation}</h1>
  <div class="flex justify-center gap-8 flex-wrap">
    {
      images.map((image) => (
        <ImageInstance fileName={image.fileName} alt={image.alt} />
      ))
    }
  </div>
</div>
