---
import Image from "astro/components/Image.astro";

interface Props {
  workLocation: string;
}

const { workLocation } = Astro.props;

import imgSrcSample from "/public/assets/Image_Placeholder.svg";
---

<div class="w-full text-center">
  <div class="w-full pt-8 text-xl text-center">
    <h2 class="border-b-2 w-fit mx-auto">{workLocation}</h2>
  </div>
  <div class="w-full pt-8 flex justify-center flex-wrap gap-12">
    <Ib
    
</div>
</div>
